wheel==0.38.4
setuptools==65.5.0
torch<2.1,>=2.0
torchvision==0.15.2
cython<3
dm_control==1.0.11
einops==0.6.0
gdown==4.7.1
gym==0.21.0
hydra-core==1.3.1
mujoco-py<2.2,>=2.1
numpy==1.23.5
pytorch_lightning==2.0.0
scikit-learn
shimmy==0.2.0
wandb==0.14.0
termcolor
decord
gradio
allenact@git+https://github.com/allenai/allenact.git@usd#egg=allenact&subdirectory=allenact
